.container {
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  #inventory li {
    background-color: #eaeaea;
    padding: 10px;
    font-size: 18px;
  }
  
  button {
    display:block;
    text-align: center;
    margin-top: 2rem;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #72b1e5;
    color: white;

  }
  
  button:hover {
    background-color: #7c84e3;
  }
  
 
